.table{
    box-shadow: 2px 2px 10px rgb(0, 0, 0,0.5);
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 2rem;
    overflow-y: auto;
}

.groupIcon{
    scale: 2;
    margin: 0 1rem;
}
.editBtn{
    z-index: 0;
}
.tHeader{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #1565c0;
}

.textHead{
    color: #fff !important;
}
.tableContent{
    position: relative;
    height:70%;
    width: 100%;
    display: flex;
    overflow-y: auto;
    justify-content: center;
    align-items: flex-start;
}

.paperWidh{
    width: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30rem;
}

.buttonBack{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 20%;
    align-items: center;
    margin: 0 2rem;
}

.btnFilter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputFilter{
    width: 100%;
    margin: 0 2rem;
}

.filter{
    width: 100%;
}