.groupIcon{
    scale: 2;
    margin: 0 1rem;
}

.buttonBack{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 20%;
    align-items: center;
    margin: 0 2rem;
}

.btnFilter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputFilter{
    width: 100%;
    margin: 0 2rem;
}

.filter{
    width: 100%;
}