.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    margin: 50px auto;
	width: 25rem;
    height: 30rem;
	background-color: #fff;
	border-radius: 2rem;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    /* background-color: #242424;
    color: #fff; */
}
.errorMessage{
    color: red;
}

.loginBackground{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}